<div fxLayout="column" fxLayoutAlign="center center" class="container-alterar">
  <div fxLayout="column" fxLayoutAlign="center center" class="container-cabecalho">
    <div class="titulo">Realizar Transferência</div>
    <button mat-stroked-button class="voltar" routerLink="/cliente/home">
      Voltar
    </button>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="center center" class="container-formulario">
    <form fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="start center" class="container-inputs">
        <p>Informe o número da conta destino:</p>
        <mat-form-field class="input-deposito">
          <input matInput type="number" placeholder="Informe número da conta" name="contaTransferencia"
            formControlName="contaTransferencia" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="container-inputs">
        <p>Informe o valor para transferir:</p>
        <mat-form-field class="input-deposito">
          <input matInput placeholder="Deposito valor (R$)" name="valorTransferencia"
            formControlName="valorTransferencia" currencyMask
            />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="container-inputs date">
        <mat-form-field appearance="fill">
          <mat-label>Data de transferência: </mat-label>
          <input matInput />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
          <mat-datepicker ></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">
        Confirmar transferência
      </button>
    </form>
  </div>
</div>