<h1>Alterar Perfil do Cliente</h1>

<div class="well">
    <form #formAlterar="ngForm">
        <div class="form-group">
            <label for="nome">Nome: </label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel"
                minlength="2" required>
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                <div [hidden]="!nome.errors?.['required']"> Digite o nome. </div>
                <div [hidden]="!nome.errors?.['minlenght']"> O nome deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel"
                minlength="2" required>
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors?.['required']"> Digite o e-mail. </div>
                <div [hidden]="!email.errors?.['minlenght']"> O e-mail deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="telefone">Telefone: </label>
            <input type="text" class="form-control" id="telefone" name="telefone"
                [(ngModel)]="usuario.telefone" #telefone="ngModel" 
                minlength="6" required>
            <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">
                <div [hidden]="!telefone.errors?.['required']"> Digite o telefone. </div>
                <div [hidden]="!telefone.errors?.['minlenght']"> O telefone deve conter ao menos 6 caracteres. </div>
            </div>
        </div>

       
        <div class="form-group">
            <label for="salarioCliente">Salário: </label>
            <input type="text" class="form-control" id="salarioCliente" name="salarioCliente" [(ngModel)]="usuario.salarioCliente" #salarioCliente="ngModel"
            required>
            <div *ngIf="salarioCliente.errors && (salarioCliente.dirty || salarioCliente.touched)" class="alert alert-danger">
                <div [hidden]="!nome.errors?.['required']"> Digite o salário. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="estado">Estado: </label>
            <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="usuario.estado" #estado="ngModel"
                minlength="2" required>
            <div *ngIf="estado.errors && (estado.dirty || estado.touched)" class="alert alert-danger">
                <div [hidden]="!estado.errors?.['required']"> Digite o estado. </div>
                <div [hidden]="!estado.errors?.['minlenght']"> O estado deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cidade">Cidade: </label>
            <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="usuario.cidade" #cidade="ngModel"
                minlength="2" required>
            <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger">
                <div [hidden]="!cidade.errors?.['required']"> Digite a cidade. </div>
                <div [hidden]="!cidade.errors?.['minlenght']"> A cidade deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cep">CEP: </label>
            <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="usuario.cep" #cep="ngModel"
                minlength="2" required>
            <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger">
                <div [hidden]="!cep.errors?.['required']"> Digite o CEP. </div>
                <div [hidden]="!cep.errors?.['minlenght']"> O CEP deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="rua">Rua: </label>
            <input type="text" class="form-control" id="rua" name="rua" [(ngModel)]="usuario.rua" #rua="ngModel"
                minlength="2" required>
            <div *ngIf="rua.errors && (rua.dirty || rua.touched)" class="alert alert-danger">
                <div [hidden]="!rua.errors?.['required']"> Digite a rua. </div>
                <div [hidden]="!rua.errors?.['minlenght']"> A rua deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="numero">Número: </label>
            <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="usuario.numero" #numero="ngModel" required>
            <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
                <div [hidden]="!numero.errors?.['required']"> Digite o número. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="complemento">Complemento: </label>
            <input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="usuario.complemento" #complemento="ngModel">
        </div>


        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="alterar()" [disabled]="!formAlterar.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i> Alterar
            </button>


            <a class="btn btn-secondary" [routerLink]="['/cliente/home']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
            </a>
        </div>
    </form>

</div>