<div class="container d-flex justify-content-center mt-3">
  <div class="well container__content">
    <h1>Login</h1>
    <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <a href="#" class="btn btn-sm btn-secondary" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div class="well">
      <form #formLogin="ngForm">
        <div class="form-group">
          <label for="usuario">Usuário:</label>
          <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="login.login"
            #usuario="ngModel" required />
          <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)" class="alert alert-danger">
            <div [hidden]="!usuario.errors?.['required']">Digite o usuário</div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" id="senha" name="senha" [(ngModel)]="login.senha" #senha="ngModel"
            required />
          <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert alert-danger">
            <div [hidden]="!senha.errors?.['required']">Digite a senha.</div>
          </div>
        </div>

        <div class="form-group mt-5 d-flex justify-content-center">
          <a class="btn btn-primary me-3" (click)="logar()">
            <i aria-hidden="true"></i> Login
          </a>
          <a class="btn btn-secondary ms-3" [routerLink]="['/cadastrar']">
            <i aria-hidden="true"></i> Cadastrar
          </a>
        </div>
      </form>
    </div>
  </div>
</div>