<div fxLayout="column" fxLayoutAlign="center center" class="container-alterar">
  <div fxLayout="column" fxLayoutAlign="center center" class="container-cabecalho">
      <div class="titulo">Realizar Saque</div>
      <button mat-stroked-button class="voltar" routerLink="/cliente/home">Voltar</button>
  </div>
  <div class="mensagem-erro"> mensagem</div>
  <div fxLayout="row" fxLayoutAlign="center center" class="container-formulario">
      <form fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="start center" class="container-inputs">
              <p>Informe o valor para sacar: </p>
              <mat-form-field class="input-deposito">
                  <input matInput placeholder="Deposito valor (R$)" name="saque" 
                  formControlName="saque" currencyMask >
              </mat-form-field>
          </div>
          <button mat-raised-button color="primary">
              Confirmar Saque
          </button>
      </form>
  </div>
        
</div>