/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  &__content {
    width: 1800px;
    box-shadow: 0 0 20px rgb(0 0 38 / 25%);
    border-radius: 24px;
    padding: 20px 100px;
  }
}
