<div class="modal-body">
  <div>
    <div>
      <h3 class="fs-4 text">Cliente</h3>
      <p>Nome: {{ cliente.nome }}</p>
      <p>E-mail: {{ cliente.email }}</p>
      <p>CPF: {{ cliente.cpf! | cpf }}</p>
      <p>Telefone: {{ cliente.telefone! | phone }}</p>
      <p>Salário: {{ cliente.salario | currency }}</p>
      <p>CEP: {{ cliente.cep! | cep }}</p>
      <p>Estado: {{ cliente.estado }}</p>
      <p>Cidade: {{ cliente.cidade }}</p>
      <p>Logradouro: {{ cliente.logradouro }}</p>
      <p>Rua: {{ cliente.rua }}</p>
      <p>Número: {{ cliente.numero }}</p>
      <p>Complemento: {{ cliente.complemento }}</p>
    </div>

    <div class="mt-5">
      <h3 class="fs-4 text">Conta</h3>
      <p>Data de Criação: {{ conta.dataCriacao | date : "dd/MM/yyyy HH:mm"}}</p>
      <p>Limite: {{ conta.limite | currency }}</p>
      <p>Ativo: {{ conta.ativo }}</p>
      <p>Saldo: {{ conta.saldo | currency }}</p>
      <p>Gerente: {{ gerente.nome }}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close()"
  >
    Fechar
  </button>
</div>
