<div fxLayout="column" fxLayoutAlign="center start" class="container-cliente-home">
  <div class="informacao cliente-nome">Bem-vindo nome </div>
  <div class="informacao" fxLayout="row">
    Saldo Atual:
    <div class="informacao-saldo" >
      R$ saldo 
    </div>
    <div class="informacao-saldo-negativo">
      R$ saldo negativo
    </div>
  </div>
  <div class="informacao" fxLayout="row">
    Limite:
    <div class="informacao-limite">R$ limite </div>
  </div>
  <div class="informacao" fxLayout="row">
    Gerente:
    <div class="informacao-gerente">Razer</div>
  </div>
</div>